<!DOCTYPE html>
<html>
<head>
  <title>Timeline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header-wrap">
		<div class="panel-body">

			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
              <%= link_to 'Timeline.com', root_path, class: "navbar-brand" %>
					</div>
					<div>
						<ul class="nav navbar-nav">
              <li class="active"><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'New Year', new_registro_path %></li>
              <li><%= link_to 'New Event', new_evento_path %></li>
              <li><%= link_to 'Events', eventos_path %></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

<div id="content">


  <%= yield %>

</div>

<div id="footer">

</div>
</body>
</html>
